body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background: url('bg.jpg') center/cover no-repeat;
    color: white;
    overflow-y: hidden;

}
h1{
    position: absolute;
    margin: 0 auto;
    font-size: 47px;
    /* float:left; */
    left: 2%;
    top: 50%;
    transform: translate(30%, -50%);
}
p{
    position: absolute;
    /* float:left; */
    margin: 0 auto;
    right: 20%;
    color: yellow;
    top:50%;
    transform: translate(-50%, -50%);
}
p span {
    font-size: 70px;
}

#score{
    display: inline-block;
}
div{
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}
canvas{
    display: block;
    margin:0 auto;
    border: 7px groove white;
    box-shadow: 0 0 7px snow;
    position: relative;
    top:21px;
    
}
#placar {
    /* display: flex;
    flex-wrap: wrap;    
    align-content: space-around; */

    
}